{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    <form method="post" class="lab5-form">
        <div class="form-group">
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required>
            </label>
        </div>

        <div class="form-group">
            <label>Текст статьи:</label>
            <textarea name="article_text" required></textarea>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" name="is_public">
                Сделать публичной
            </label>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" name="is_favorite">
                Добавить в избранное
            </label>
        </div>

        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}

        <div>
            <button type="submit" class="btn">Готово</button>
            <a href="/lab5/list" class="btn">Назад к статьям</a>
        </div>
    </form>
{% endblock %}