{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>

    {% if login %}
        <p>Добро пожаловать, {{ session.real_name or login }}!</p>
        <div>
            <a href="/lab5/list" class="btn">Мои статьи</a>
            <a href="/lab5/create" class="btn">Создать статью</a>
            <a href="/lab5/public" class="btn">Публичные статьи</a>
            <a href="/lab5/users" class="btn">Список пользователей</a>
            <a href="/lab5/profile" class="btn">Редактировать профиль</a>
            <a href="/lab5/logout" class="btn">Выйти</a>
        </div>
    {% else %}
        <p>Пожалуйста, войдите в систему или зарегистрируйтесь.</p>
        <div>
            <a href="/lab5/login" class="btn">Войти</a>
            <a href="/lab5/register" class="btn">Зарегистрироваться</a>
            <a href="/lab5/public" class="btn">Публичные статьи</a>
        </div>
    {% endif %}
{% endblock %}