<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}
            {{ name }}. 
        {% else %}
            Анонимус.
        {% endif %}
        Лабораторная работа {{ lab_number }}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab2.css') }}">
</head>
<body>
    <header>
        WEB-программирование, 2 часть. {% if lab_number %}Лабораторная работа 2{% endif %}
    </header>

    <main>
        &copy;
        {% if name %}
            {{ name }},
        {% else %}
            неизвестное имя,
        {% endif %}
        {% if group %}
            {{ group }},
        {% else %}
            неизвестная группа,
        {% endif %}
        {% if course %}
            {{ course }},
        {% else %}
            неизвестный курс,
        {% endif %}
        2025
    </main>

    <footer>
        &copy; {{ name }}, {{ group }}, {{ course }} курс, 2025
    </footer>
</body>
</html>