{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a>
        </li>
        <li><a href="/lab2/a">/lab2/a</a> — без слэша</li>
        <li><a href="/lab2/a/">/lab2/a/</a> — со слэшем</li>
        <li><a href="/lab2/flowers/0">/lab2/flowers/&lt;id&gt;</a> — информация о цветке</li>
        <li><a href="/lab2/all_flowers/">/lab2/all_flowers/</a> — список всех цветов</li>
        <li><a href="/lab2/add_flower/роза">/lab2/add_flower/&lt;name&gt;</a> — добавить цветок</li>
        <li><a href="/lab2/clear_flowers/">/lab2/clear_flowers/</a> — очистить список цветов</li>
        <li><a href="/lab2/example">/lab2/example</a> — пример с шаблоном и фруктами</li>
        <li><a href="/lab2/filters">/lab2/filters</a> — демонстрация фильтров Jinja</li>
        <li><a href="/lab2/calc/">/lab2/calc/</a> — калькулятор (по умолчанию 1 и 1)</li>
        <li><a href="/lab2/calc/5">/lab2/calc/&lt;num1&gt;</a> — калькулятор с num1 и num2=1</li>
        <li><a href="/lab2/calc/5/3">/lab2/calc/&lt;num1&gt;/&lt;num2&gt;</a> — калькулятор с двумя числами</li>
        <li><a href="/lab2/books/">/lab2/books/</a> — список книг</li>
        <li><a href="/lab2/gallery/">/lab2/gallery/</a> — галерея собак</li>
    </ol>
{% endblock %}